<!DOCTYPE html>
<html lang="en">
  <%- include("../common/header") %>
  <body>
    <%- include("../common/navbar") %>
    <h1><%=title%></h1>
    <%- include("../common/errors") %>
    <form class="para-objects-form" <%if(object) {%>
      action="/para-objects/<%=object.id%>" method="post" <%} else {%>
      action="/para-objects" method="post"> <% } %> <% if (object) {%>
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%=object.name%>"
        required
      />
      <label for="object_class">Class</label>
      <select name="object_class" id="object_class" required>
        <% classes.forEach((object_class) => { if (object_class ===
        object.object_class) { %>
        <option value="<%=object_class%>" selected><%=object_class%></option>
        <% } else { %>
        <option value="<%=object_class%>"><%=object_class%></option>
        <% } }); %>
      </select>
      <label for="discover_date">Date of discovery:</label>
      <input
        type="date"
        name="discover_date"
        id="discover_date"
        required
        value="<%=new Date(object.discover_date).toISOString().substring(0, 10)%>"
      />
      <label for="manager_id">Manager:</label>
      <select name="manager_id" id="manager_id" required>
        <% if(managers){ managers.forEach((manager) => { if(manager.id ==
        object.manager_id){ %>
        <option value="<%=manager.id%>" selected><%=manager.name%></option>
        <%} else {%>
        <option value="<%=manager.id%>"><%=manager.name%></option>
        <% } }) } %>
      </select>
      <label for="description">Description:</label>
      <textarea
        name="description"
        id="description"
        cols="30"
        rows="10"
        placeholder="please describe this object in detail."
      >
      <%=object.description%>
    </textarea
      >
      <%} else {%>

      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required />
      <label for="object_class">Class</label>
      <select name="object_class" id="object_class" required>
        <% classes.map((object_class) => { %>
        <option value="<%=object_class%>"><%=object_class%></option>
        <% }); %>
      </select>
      <label for="discover_date">Date of discovery:</label>
      <input type="date" name="discover_date" id="discover_date" required />
      <label for="manager_id">Manager:</label>
      <select name="manager_id" id="manager_id" required>
        <% if(managers) { %> <% managers.map((manager) => { %>
        <option value="<%=manager.id%>"><%=manager.name%></option>
        <%})%> <% } %>
      </select>
      <label for="description">Description:</label>
      <textarea
        name="description"
        id="description"
        cols="30"
        rows="10"
        placeholder="please describe this object in detail."
      ></textarea>
      <%}%>

      <button type="submit">
        <%if(object) {%> Update <%} else {%> Create <%}%>
      </button>
    </form>
  </body>
</html>
