<!DOCTYPE html>
<html lang="en">
  <%- include("../common/header") %>
  <body>
    <%- include("../common/navbar") %>

    <h1><%=title%></h1>
    <% if(errorMsg) {%>
    <div><%=errorMsg%></div>
    <%}%>
    <div>
      <a href="/scientists/form">Insert Scientist data</a>
    </div>
    <ul>
      <% scientists.map((scientist) => { %>
      <li>
        <div>Identification: <%=scientist.id%></div>
        <div>Name: <%=scientist.name%></div>
        <div>Department: <%=scientist.department%></div>
        <div>Managed entities count: <%=scientist.managed_entities%></div>
        <div>Managed objects count: <%=scientist.managed_objects%></div>
        <div><a href="/scientists/<%=scientist.id%>/form">Update data</a></div>
        <div>
          <a href="/scientists/<%=scientist.id%>/delete">Delete data</a>
        </div>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
